.wrapperContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.titleHomePage {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  color: #ebd8ff;
  margin: 0 0 15px 0;
}

.textContent {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
  color: #ebd8ff;
  margin: 0;
}
