.goBackStyle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  color: #ede5f6;
  text-decoration: none;
  border: solid 3px #4b2a99;
  border-radius: 7px;
  &:hover,
  &:focus {
    background-color: #5cd3a8;
    transition: 0.5s ease;
  }
}

.wrapperPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
